* {
    margin: 0;
    padding: 0;
}

#container {

    position: relative;
    width: 1440px;
    height: 2080px;
    margin: auto;
    background: #E3E1E1;

}

.header {
    width: 1440px;
    height: 200px;

}

.menu {
    position: absolute;
    width: 1440px;
    height: 73px;
    top: -3px;
    background: #0F0D0D;
    opacity: 0.0 - 1.0;
}

.logo img {
    position: absolute;
    width: 138px;
    height: 108px;
    left: -15px;
    top: -16px;

    background: url(logo.png);
}

.p {
    position: absolute;
    width: 285px;
    height: 26px;
    left: 83px;
    top: 46px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;

}

.p a {
    text-decoration: none;
    color: #FFFFFF;
}

.menu ul {
    list-style: none;
    float: left;
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 300px;
    margin-top: 20px;
}

.menu ul li {
    display: inline;
    margin-left: 80px;
    line-height: 45px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;


}

.menu ul li a:hover {
    color: blueviolet;
}

.menu ul li .dam {
    color: rgb(38, 38, 171);
}


.sanpham {
    width: 100%;
    height: auto;
}

.danhmuc {

    width: 1440px;
    height: 48px;
    left: 0px;
    top: 112px;
    background: #D9D9D9;
}

.danhmuc ul {
    list-style: none;
    float: left;
    font-size: 15px;
    text-transform: uppercase;


}

.danhmuc ul li {
    display: inline;
    margin-left: 10px;
    line-height: 45px;
}

.danhmuc ul li a {
    text-decoration: none;
    color: rgb(47, 42, 42);
}

.danhmuc ul li a:hover {
    color: blueviolet;
}

.danhmuc ul li .chon {
    font-weight: 700;
}

.giohang {
    float: right;

}


.giohang p {
    margin-top: 8px;
}

.giohang p a {
    font-size: 35px;

    margin-right: 30px;
    color: #242527;
}

.giohang p:hover {
    color: blueviolet;
    font-weight: 700;
}

.tieude h3 {
    font-size: 25px;
    color: black;
    font-weight: 500;
    text-align: center;
}

.osanpham {

    width: 30%;
    height: 432px;
    background: #EEEEEE;
    border-radius: 7px;
    float: left;
    margin: 22px;

}

.tieude_sanpham {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #000000;
    margin-top: 15px;
}

.img_sanpham img {
    width: 352px;
    height: 164px;
    text-align: center;
    margin-top: 40px;
    margin-left: 40px;

}

.img_sanpham p {
    text-align: center;
    margin-top: 0px;
    font-size: 30px;
    font-weight: 100;
    color: gray;
}

.gia_sanpham p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: gray;
    margin-top: 30px;

}

.timhieuthem {
    text-align: center;

}

.timhieuthem button {
    width: 267px;
    height: 34px;
    background: #FFFFFF;
    border: 1px solid white;
    font-size: 15px;
    margin-top: 20px;

}

.timhieuthem button a {
    text-align: center;
    text-decoration: none;
    color: #070202;
}

.timhieuthem button i {
    float: left;
    font-size: 20px;
    margin-left: 20px;
}

.timhieuthem a:hover {
    text-align: center;
    color: blueviolet;
    font-weight: 700;
}

.doitrang {
    width: 100%;
    height: 40px;
    text-align: center;
}

.doitrang ul {
    list-style: none;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}

.doitrang ul li {
    display: inline;
    margin-left: 10px;
    line-height: 45px;
}

.doitrang ul li a {
    text-decoration: none;
    color: gray;

}

.doitrang ul li a:hover {
    color: blueviolet;
    font-weight: 700;
}

.doitrang .trang1 {
    color: black;
    font-weight: 700;
}




.footer {
    width: 100%;
    float: left;
    height: 500px;
    padding-top: 12px;
    top: 100px;
}

.footer1 p {
    margin-top: 50px;
}

.footer1 {
    width: 100%;
    float: left;
}

.footer1 ul {
    list-style: none;
    float: left;
    font-size: 18px;
    text-transform: uppercase;
}

.footer1 ul li {
    display: inline;
    margin-left: 10px;
    line-height: 45px;
}

.footer1 ul li a {
    text-decoration: none;
    color: gray;
}

.footer1 ul li a:hover {
    color: blueviolet;
    font-weight: 700;
}

.tieudefooter {
    width: 14%;
    float: left;
    margin-left: 70px;
    margin-top: 20px;
}

.tieudefooter ul {
    list-style-type: none;
}

.tieudefooter ul li a {
    text-decoration: none;
    color: #171823;
    font-size: 20px;
}

.tieude_footer ul li a i {
    width: 100px;
}

.tieudefooter ul li a:hover {
    text-decoration: none;
    color: rgb(76, 16, 180);
    font-weight: 900;
}

.footer2 {
    width: 100%;
    height: auto;
}

.logo_footer {
    width: 50%;
    float: left;
}

.logo_footer img {
    width: 138px;
    height: 108px;
    margin-left: 600px;
}

.nhan {
    width: 50%;
    float: left;
}

.nhan p {
    margin-top: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #110101;
}



/* code menu mobile */
.menu_mobile {
    display: none;
    max-width: 100%;
    width: 770px;
    background: black;
    height: 90px;
    margin: auto;

}

.menu_mobile .logo img {
    width: 130px;
    height: auto;
    margin-left: 10px;
    margin-top: 10px;
}

.menu_mobile p {
    font-size: 14px;
    margin-top: 10px;
}


.menu_mobile ul {
    width: 530px;
    list-style: none;
    float: left;
    font-size: 17px;
    text-transform: uppercase;
    margin-left: 210px;
    margin-top: 0px;

}

.menu_mobile ul li {
    display: inline;
    margin-left: 80px;
    line-height: 45px;
}

.menu_mobile ul li a {
    text-decoration: none;
    color: #fff;


}

.menu_mobile ul li a:hover {
    color: blueviolet;
}

.menu_mobile .dam {
    color: rgb(12, 12, 140);
}

/* mobile */

/* mobile */
.mobile {
    display: none;
    max-width: 100%;
    width: 576px;
    background: black;
    height: 90px;
    margin: auto;

}

.mobile .logo img {
    width: 120px;
    height: auto;
    margin-left: 10px;
    margin-top: 10px;
}

.mobile p {
    font-size: 14px;

}
.mobile .dam{
    color: rgb(9, 15, 175);
}

.mobile>ul.root {
    width: 576px;
    list-style: none;
    float: left;
    margin-top: 30px;
    font-size: 20px;
    margin-left: 270px;
    text-transform: uppercase;



}

.mobile>ul.root>li {

    list-style: none;
    line-height: 30px;
}

.mobile>ul>li>a {

    text-decoration: none;
    color: #fff;


}

.mobile ul li a:hover {
    color: blueviolet;
}

.icon_menu {
    float: right;
    margin-right: 15px;
    color: #FAFAFA;
    margin-top: 15px;
    font-size: 25px;
}

ul.submenu {
    width: 180px;
    background-color: #595757;
    min-height: 100px;
    display: none;


}

ul.submenu li {
    list-style: none;
}

ul.submenu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 16px;
    text-indent: 10px;
    border-top: 1px solid #ccc;

}

ul.root>li:hover ul.submenu {
    display: block;
    position: absolute;
}

span {
    margin-left: 10px;
}

/* responsive*/
/* @media (max-width:576px) {} */

@media (max-width:768px) {
    #container {
        height: 4700px;
    }

    .menu {
        display: none;
    }

    .menu_mobile {
        width: 100%;
        display: block;
    }

    .layout {
        width: 768px;
    }

    .header {
        width: 100%;
        height: auto;
    }

    .layout img {
        width: 768px;
        height: auto;
    }

.doitrang ul {
    margin-top: 60px;
}



    .footer {
        position: absolute;
        margin-top: 4200px;
        font-size: 16px;
        background: #E3E1E1;
    }

    .footer1 p {
        margin-top: 50px;
        color: #150101;
    }

    .footer1 {
        width: 100%;
        float: left;
    }

    .footer1 ul {
        list-style: none;
        float: left;
        font-size: 12px;
        text-transform: uppercase;
    }

    .tieudefooter {
        width: 5%;
        float: left;
        color: #120707;
        margin-left: 70px;
        margin-top: 30px;
        padding: 10px;
    }

    .tieudefooter2 {
        float: right;
    }

    .cotfooter2 {
        display: none;
    }

    .tieudefooter ul li a {
        text-decoration: none;
        color: #1a0f0f;
        font-size: 15px;
    }

    /* content */
    .tieude h3 {
        display: none;

    }

    .danhmuc {
        margin-bottom: 50px;
    }

    .osanpham {

        width: 30%;
        height: 432px;
        background: #EEEEEE;
        border-radius: 7px;
        margin: 22px;
        float: none;
        margin-left: 150px;
    }

    .doitrang {
        position: absolute;
        top: 4200px;
        left: -360px;
    }



    .footer2 {
        width: 100%;
        height: auto;
    }

    .logo_footer {
        width: 30%;
        float: left;
    }

    .logo_footer p {
        color: #070202;
        position: absolute;
        top: 400px;
        left: 0px;
    }

    .logo_footer img {
        width: 138px;
        height: 108px;
        left: -400px;
        position: absolute;
        top: 400px;

    }

    .nhan {
        width: 50%;
        float: left;
    }

    .nhan p {
        margin: 0;
        float: left;
        position: absolute;
        top: 450px;
        left: 300px;

    }

    /* .tieude_right h2{
     width: 300px;
    margin-right: 1000px;
        margin-top: 10px;
    }
    .right{
        width: 700px;
        margin-top: 0px;
        float: left;
        margin-left: 15px;
    }
 */

}

@media (max-width:576px) {
    #container {
        width: 100%;
        height: 5000px;
        background: #E3E1E1;
    }

    .menu {
        display: none;
    }

    .menu_mobile {
        display: none;
    }

    .mobile {
        display: block;
    }


    .header {
        width: 100%;
        height: auto;
    }

    .osanpham {
        margin-left: 45px;
        width: 400px;
    }
  

    .footer {
        position: absolute;
        margin-top: 4200px;
        font-size: 16px;
        background: #E3E1E1;
    }

    .footer1 p {
        margin-top: 50px;
        color: #150101;
    }

    .footer1 {
        width: 100%;
        float: left;
    }

    .footer1 ul {
        list-style: none;
        float: left;
        font-size: 12px;
        text-transform: uppercase;
    }

    .tieudefooter {
        width: 20%;
        float: left;
        color: #120707;
        margin-left: 70px;
        margin-top: 30px;
        padding: 10px;
    }

    .tieudefooter2 {
        float: right;
    }

    .cotfooter2 {
        display: none;
    
    }
    .footer1 ul li a{
        font-size: 10px;
    }

    .tieudefooter ul li a {
        text-decoration: none;
        color: #1a0f0f;
        font-size: 12px;
    }

    .footer2 {
        width: 100%;
        height: auto;
    }

    .logo_footer {
        width: 30%;
        float: left;
    }

    .logo_footer p {
        color: #070202;
        position: absolute;
        top: 550px;
        left: 0px;
        margin-bottom: 10px;
    }

    .logo_footer img {
        width: 138px;
        height: 108px;
        left: -500px;
        position: absolute;
        top: 550px;

    }

    .nhan {
        width: 50%;
        float: left;
    }

    .nhan p {
        margin: 0;
        float: left;
        position: absolute;
        top: 600px;
        left: 200px;

    }
}



@media(min-width:1200px) {
    #container {
        max-width: 1440px;


    }

    .danhmuc {
        position: absolute;
        width: 1440px;
        height: 48px;
        left: 0px;
        top: 112px;
        background: #D9D9D9;
    }
}